main {
    margin: auto;
    padding: 1em;
    widows: 500px;
    min-height: 50vh;
    background-color: #000000;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #aaaaaa;
    text-transform: uppercase;
}